<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome back to the Midnight Golf Club, <%= @user.username %>!</h1>
    <p>
      To login to the app, just follow this link: <a href="<%= @url %>">Log Back In</a>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>